<div class="container">
    {{#each this}}
    <div data-id="{{id}}" class="item hidden">
      <div class="info">
        <div class="name">{{name}}</div>
        <div class="hobby">{{hobby}}</div>
        <div class="anchors">
          <a href="/#/user/{{id}}/edit">Edit</a> |
          <a href="/#/user/{{id}}/delete">Delete</a>
        </div>
      </div>
      <img src="{{img}}" alt="" width=300 height=300>
    </div>
    {{/each}}
</div>

